
<!DOCTYPE html>
<html lang="en-us" data-ng-app="app">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://rawgit.com/dalelotts/angular-bootstrap-datetimepicker/master/src/css/datetimepicker.css" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://rawgit.com/dalelotts/angular-bootstrap-datetimepicker/master/src/js/datetimepicker.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script> 

<link rel="stylesheet" type="text/css" media="screen"  href="http://192.241.236.31/test3.smartadmin/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="http://192.241.236.31/test3.smartadmin/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="http://www.candcservice.com/css/smartadmin-production.css">
        <link rel="stylesheet" type="text/css" media="screen" href="http://www.candcservice.com/css/smartadmin-skins.css">
        <link rel="stylesheet" type="text/css" media="screen" href="dashboard.css">
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 
		
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
		<script src="app.js"></script>
		<script src="SideMenuCtrl.js"></script>
  
  <style>
  body {
      position: relative; 

  }
ul.nav-pills {
      top: 20px;
      position: fixed;
  }
  div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
  }
  #Dataportal {padding-top:50px;height:800px;color: #fff; background-color: #00bcd4;}
  #FileVault {padding-top:50px;height:800px;color: #fff; background-color: #00bcd4;}
  #Search {padding-top:50px;height:800px;color: #fff; background-color: #009688;}
  #Operations {padding-top:50px;height:800px;color: #fff; background-color: #009688;}
  #SMSAnalysis, #RCFAnalysis, #MEGAnalysis {padding-top:50px;height:800px;color: #fff; background-color: #009688;}

@media screen and (max-width: 810px) {
    #FileVault, #Search, #Operations, #section41, #section42  {
        margin-left: 150px;
    }}
  </style>
</head>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
   
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">

          <li><a href="#FileVault">FileVault</a></li>
          <li><a href="#Search">Search</a></li>
          <li><a href="#Operations">operations</a></li>
        </ul>

      </div>

    </div>
  </div>
</nav>
</nav>    
<div id="Dataportal" class="container-fluid">
  <h1>data</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="FileVault" class="container-fluid">
  <h1>Section 1</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="Search" class="container-fluid">
  <h1>Section 1</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

<div id="Operations" class="container-fluid" data-ng-controller="SideMenuCtrl as vm">
	<aside style="width: 250px; float: left" >
		 <nav>
			<ul>
				<li class="active">
					<a href="#Operations" title="Operations">
						<i class="fa fa-lg fa-fw fa-home">
						</i>
						<span class="menu-item-parent">
							operations
						</span>
					</a>
				</li>         

				<li data-ng-repeat="menuItem in vm.menuItems"   data-ng-class="{'': vm.expandedItem !== menuItem, 'expanded': vm.expandedItem === menuItem}" data-ng-click="vm.expandNav(menuItem)" style="cursor: pointer;">
					<a>
						<i  class="{{menuItem.menuClass}}">
						</i>

						<span  class="menu-item-parent">
							{{menuItem.name}}
						</span>
						<b class="collapse-sign">
							<em class="fa" data-ng-class="{'fa fa-collapse-o': vm.expandedItem !== menuItem, 'fa fa-expand-o': vm.expandedItem === menuItem}">
							</em>
						</b>
					</a>
					<ul data-ng-class="{'expanded': vm.expandedItem !== menuItem, 'expanded expandMe': vm.expandedItem === menuItem}">
						<li data-ng-repeat="subMenu in menuItem.subMenus">
							<a href="{{subMenu.url}}">
								{{subMenu.subName}}
							</a>
						</li>
					</ul>
				</li>   
			</ul>
		</nav>
	</aside>
	
	<article style="float: left; margin-left: 20px">
		Your Content for Operations
	</article>
</div>

<div id="SMSAnalysis" class="container-fluid" data-ng-controller="SideMenuCtrl as vm">
		
	<aside style="width: 250px; float: left" >
		 <nav>
			<ul>
				<li class="active">
					<a href="#Operations" title="Operations">
						<i class="fa fa-lg fa-fw fa-home">
						</i>
						<span class="menu-item-parent">
							operations
						</span>
					</a>
				</li>         

				<li data-ng-repeat="menuItem in vm.menuItems"   data-ng-class="{'': vm.expandedItem !== menuItem, 'expanded': vm.expandedItem === menuItem}" data-ng-click="vm.expandNav(menuItem)" style="cursor: pointer;">
					<a>
						<i  class="{{menuItem.menuClass}}">
						</i>

						<span  class="menu-item-parent">
							{{menuItem.name}}
						</span>
						<b class="collapse-sign">
							<em class="fa" data-ng-class="{'fa fa-collapse-o': vm.expandedItem !== menuItem, 'fa fa-expand-o': vm.expandedItem === menuItem}">
							</em>
						</b>
					</a>
					<ul data-ng-class="{'expanded': vm.expandedItem !== menuItem, 'expanded expandMe': vm.expandedItem === menuItem}">
						<li data-ng-repeat="subMenu in menuItem.subMenus">
							<a href="{{subMenu.url}}">
								{{subMenu.subName}}
							</a>
						</li>
					</ul>
				</li>   
			</ul>
		</nav>
	</aside>
	
	<article style="float: left; margin-left: 20px">
		Your Content for SMSAnalysis
	</article>
	
</div>


<div id="RCFAnalysis" class="container-fluid" data-ng-controller="SideMenuCtrl as vm">
		
	<aside style="width: 250px; float: left" >
		 <nav>
			<ul>
				<li class="active">
					<a href="#Operations" title="Operations">
						<i class="fa fa-lg fa-fw fa-home">
						</i>
						<span class="menu-item-parent">
							operations
						</span>
					</a>
				</li>         

				<li data-ng-repeat="menuItem in vm.menuItems"   data-ng-class="{'': vm.expandedItem !== menuItem, 'expanded': vm.expandedItem === menuItem}" data-ng-click="vm.expandNav(menuItem)" style="cursor: pointer;">
					<a>
						<i  class="{{menuItem.menuClass}}">
						</i>

						<span  class="menu-item-parent">
							{{menuItem.name}}
						</span>
						<b class="collapse-sign">
							<em class="fa" data-ng-class="{'fa fa-collapse-o': vm.expandedItem !== menuItem, 'fa fa-expand-o': vm.expandedItem === menuItem}">
							</em>
						</b>
					</a>
					<ul data-ng-class="{'expanded': vm.expandedItem !== menuItem, 'expanded expandMe': vm.expandedItem === menuItem}">
						<li data-ng-repeat="subMenu in menuItem.subMenus">
							<a href="{{subMenu.url}}">
								{{subMenu.subName}}
							</a>
						</li>
					</ul>
				</li>   
			</ul>
		</nav>
	</aside>
	
	<article style="float: left; margin-left: 20px">
		Your Content for RCFAnalysis
	</article>
	
</div>

<div id="MEGAnalysis" class="container-fluid" data-ng-controller="SideMenuCtrl as vm">
		
	<aside style="width: 250px; float: left" >
		 <nav>
			<ul>
				<li class="active">
					<a href="#Operations" title="Operations">
						<i class="fa fa-lg fa-fw fa-home">
						</i>
						<span class="menu-item-parent">
							operations
						</span>
					</a>
				</li>         

				<li data-ng-repeat="menuItem in vm.menuItems"   data-ng-class="{'': vm.expandedItem !== menuItem, 'expanded': vm.expandedItem === menuItem}" data-ng-click="vm.expandNav(menuItem)" style="cursor: pointer;">
					<a>
						<i  class="{{menuItem.menuClass}}">
						</i>

						<span  class="menu-item-parent">
							{{menuItem.name}}
						</span>
						<b class="collapse-sign">
							<em class="fa" data-ng-class="{'fa fa-collapse-o': vm.expandedItem !== menuItem, 'fa fa-expand-o': vm.expandedItem === menuItem}">
							</em>
						</b>
					</a>
					<ul data-ng-class="{'expanded': vm.expandedItem !== menuItem, 'expanded expandMe': vm.expandedItem === menuItem}">
						<li data-ng-repeat="subMenu in menuItem.subMenus">
							<a href="{{subMenu.url}}">
								{{subMenu.subName}}
							</a>
						</li>
					</ul>
				</li>   
			</ul>
		</nav>
	</aside>
	
	<article style="float: left; margin-left: 20px">
		Your Content for MEGAnalysis
	</article>
	
</div>

</html>
